<!-- SideNav Bar -->
<mat-toolbar color="primary" class="top-header">
  <span class="nav-tool-items"(click)="drawer.toggle()" >
    <mat-icon class="hamburger" aria-hidden="false">menu</mat-icon>
    <span class="logo">Angular Demo</span>
  </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" #drawer class="sidenav" [(opened)]="opened" role="navigation"> 
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink='/add-book'>
        <mat-icon>add</mat-icon>Add Book
      </a>
      <a mat-list-item routerLinkActive="active"  routerLink='/books-list'>
        <mat-icon>format_list_bulleted</mat-icon> View Books
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>